<% layout('layouts/base') -%>

    <form action="/user/password" method="POST">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Change password</h1>
                <div class="mb-3">
                    <label class="form-label" for="currentPassword">Current Password</label>
                    <input class="form-control" id="currentPassword" type="password" name="currentPassword">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="newPassword">New Password</label>
                    <input class="form-control" id="newPassword" type="password" name="newPassword">
                </div>
                <button class="btn btn-success">Change Password</button>
            </div>
        </div>
    </form>