<% layout('layouts/base') -%>


    <nav class="mt-5" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li><a href="/client">Client Details</a></li>
            <li class="breadcrumbs"><a href="/client/billing/<%= clientDetail._id %>">Show Billings</a></li>
            <li class="breadcrumbs"><a href="/client/billing/add/<%= clientDetail._id %>">Add Billings</a></li>
        </ol>
    </nav>

    <h1 class="text-center">New Billing</h1>

    <div class="row m-3 mt-5">
        <div class="col-12">
            <form class="needs-validation" action="/client/billing/<%= clientDetail._id %>" method="POST" novalidate>
                <table id="hello" class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col">Items</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">GST (in %)</th>
                            <th scope="col">Price</th>
                            <th scope="col">Grand Price</th>
                        </tr>
                    </thead>
                    <tbody id="invoice">
                        <tr id="1-item">
                            <td>
                                <input class="form-control" id="1-items" type="text" name="billing[items]" required>
                                <div class="invalid-feedback">
                                    Must not be blank!
                                </div>
                            </td>
                            <td>
                                <input class="form-control" id="1-quantity" type="number" name="billing[quantity]" min="1" step="1" min="0" required>
                                <div class="invalid-feedback">
                                    Must be a whole number greater than 0!
                                </div>
                            </td>
                            <td>
                                <input class="form-control" id="1-gst" type="number" name="billing[gst]" min="0" max="100" step="0.01" required>
                                <div class="invalid-feedback">
                                    Should be between 0 to 100 and upto two decimal places!
                                </div>
                            </td>
                            <td>
                                <input class="form-control" id="1-price" type="number" name="billing[price]" min="0" step="0.01" required>
                                <div class="invalid-feedback">
                                    Must be greater than 0 and upto two decimal places!
                                </div>
                            </td>
                            <td>
                                <input class="form-control" id="1-grandPrice" type="number" name="billing[grandPrice]" step="0.01" readonly required>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button id="add-item" class="btn btn-secondary" type="button">Add Items</button>
                <button id="add-item" class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
    </div>


    <script src="/scripts/billing.js"></script>