<% layout('layouts/base') -%>

    <form action="/purchase" method="POST">

        <div class="row m-5">
            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label" for="name">Vendor Name</label>
                    <input class="form-control" type="text" name="name">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="address">Vendor Address</label>
                    <textarea class="form-control" type="text" name="address"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" id="email" type="email" name="email">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="contact">Contact</label>
                    <input class="form-control" id="contact" type="number" name="contact">
                </div>
                <fieldset class="contact mb-3">
                    <legend class="text-center">Bank Details</legend>

                    <div class="mb-3">
                        <label class="form-label" for="bankName">Bank Name</label>
                        <input class="form-control" id="bankName" type="text" name="bankDetails[bankName]">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Account Number</label>
                        <input type="number" class="form-control" aria-label="Account Number"
                            name="bankDetails[accountNumber]">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Type</label>
                        <select class="form-select" id="accountType" name="bankDetails[accountType]">
                            <option value="savings">Savings</option>
                            <option value="current">Current</option>
                            <option value="others">Others</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="ifsc">IFSC Code</label>
                        <input class="form-control" id="ifsc" type="text" name="bankDetails[ifsc]">
                    </div>
                </fieldset>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" id="activeState" type="checkbox" name="activeStatus" checked>
                        <label class="form-check-label" for="activeState">Active Status</label>
                    </div>
                </div>

                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </div>
    </form>